* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(resource/pic6.jpg);
  background-size: cover;
}

.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 50px;
  align-items: center;
}

.logo {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: rgb(78, 151, 78);
  cursor: pointer;
  transition: 2ms;
}

.logo:hover {
  transform: scale(1.2);
}

.logo-right {
  display: inline-block;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 60px;
  padding: 0 10px;
  border: none;
  color: white;
  background-color: rgb(78, 151, 78);
  border-radius: 10px 10px;
  cursor: pointer;
}

.logo-right:hover {
  background-color: rgb(51, 123, 51);
}

.nav {
  display: inline-block;
  flex: 1;
}

.item-list {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type: none;
}

.items {
  padding: 0 10px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(78, 151, 78);
}

a {
  color: rgb(51, 113, 51);
}

.corner {
  display: inline-block;
  font-size: 15px;
  font-weight: lighter;
  padding: 2px 5px;
  background-color: rgb(51, 113, 51);
  color: white;
  border-radius: 50% 50%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 50px;
  top: 15%;
}

.first {
  font-size: 60px;
  font-weight: bolder;
  line-height: 50px;
}

.second {
  margin-top: 30px;
  font-size: 15px;
  font-style: oblique;
  font-weight: normal;
}

.btn {
  margin-top: 80px;
  display: inline-block;
}

.explore {
  padding: 7px 20px;
  background-color: rgb(78, 151, 78);
  font-size: 15px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.explore:hover {
  background-color: rgb(47, 103, 47);
  color: rgb(208, 199, 199);
  transform: scale(1.2);
}

.middle-section {
  padding: 10px 50px;
  width: 100%;
  height: max-content;
  background-color: #8ecc93;
}

.purchase {
  width: 100%;
  background-color: #beb7a4;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  height: 300px;
  display: inline-block;
}

img.pics {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

div.rarr {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  color: rgb(51, 113, 51);
  padding: 3px 10px;
}
