* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #9ab8ba;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(resource/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 2px 10px;
  height: 50px;
  background: transparent;
  align-items: center;
}

.logo {
  font-size: larger;
  display: inline-block;
  font-weight: bold;
  font-style: oblique;
  color: rgb(5, 45, 5);
  cursor: pointer;
}

.nav {
  display: inline-block;
  flex: 1;
}

.nav .navlist {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 0 40px;
}

.nav-item {
  display: inline-block;
  margin: 15px;
}

a {
  text-decoration: none;
  color: rgb(5, 45, 5);
  font-weight: bolder;
  padding: 3px 10px;
  display: inline-block;
}

a:hover {
  color: #045256;
}

.list-links {
  font-size: small;
}

a::before {
  content: "";
  transform: rotate(-90deg);
  width: 40%;
  border: 0.1px solid #045256;
  display: none;
  transition: 2s;
}

a:hover::before {
  display: inline;
}

a::after {
  content: "";
  width: 80%;
  border: 0.1px solid #045256;
  display: none;
  transition: 2s;
}

a:hover::after {
  display: block;
}

.corner {
  font-size: larger;
  display: inline-block;
  font-weight: bold;
  font-style: oblique;
  color: rgb(5, 45, 5);
  cursor: pointer;
  background-color: aliceblue;
  padding: 4px 4px;
  border-radius: 50% 50%;
}

.text {
  position: absolute;
  top: 20%;
  left: 60%;
}

p {
  color: #045256;
}
p.first {
  font-size: 60px;
  font-weight: bolder;
}

p.second {
  font-size: 20px;
  font-weight: bold;
  line-height: 10px;
}

p.third {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  font-style: oblique;
}

.side-bar {
  position: absolute;
  left: 20px;
  top: 20%;
  transform: rotate(-90deg);
  display: inline-block;
}

span {
  font-weight: bold;
  background-color: white;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50% 50%;
  cursor: pointer;
}

span.larr {
  background-color: transparent !important;
}

.lower-writeups {
  position: absolute;
  left: 10px;
  bottom: 20px;
  right: 10px;
  display: inline-block;
  width: calc(100% - 20px);
}

.lower-list {
  display: flex;
  list-style-type: none;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.lower-item {
  color: #045256;
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;
  background-color: white;
  padding: 2px 5px;
  border-radius: 20% 20%;
  cursor: pointer;
}
