* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div.top-container {
  width: 100%;
  background-image: linear-gradient(105deg, rgb(70, 40, 40), rgb(98, 47, 47));
}

ul.navbar-ul-list {
  list-style-type: none;
  padding: 4px 0;
  display: inline-block;
}

ul.navbar-ul-list li {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

ul.navbar-ul-list li {
  background-image: url(start.png);
  padding-left: 1.4rem;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  max-width: max-content;
}

li a {
  text-decoration: none;
  color: white;
}

/* li a:link,
li a:active {
  color: blue;
} */

/* li a:visited {
  color: rgb(171, 148, 171);
} */

li a:focus {
  color: whitesmoke;
}

li a:hover {
  color: green;
}

li a:active {
  color: orange;
}

.logo {
  display: inline-block;
  color: azure;
  font-weight: lighter;
  padding: 1px 5px;
  font-size: 2.5rem;
}

#hamburger {
  display: none;
  color: white;
  float: right;
}

#hamburger .navbar-ul-list {
  display: none;
}

@media screen and (max-width: 793px) {
  #hamburger {
    display: inline-block;
  }

  ul.navbar-ul-list {
    display: none;
  }
}
